body{ /* body styling */
    background-image: linear-gradient(black,rgb(65, 55, 0));
}

@font-face { /* adds pricedown black web font. reference: https://www.w3schools.com/css/css3_fonts.asp */
    font-family: pricedown;
    src: url(pricedown_black.otf);
}

#topHeader{ /*makes stationary header in mobile version */
    background-color: purple;
    outline: auto;
    font-family: pricedown;
    position: sticky;
    top: 0;
    z-index: 999;
    text-align: center;
    font-size: 45px;
    color: whitesmoke;
    text-shadow: -2px -2px 0 goldenrod; /* adds shadow to header text. reference: https://stackoverflow.com/questions/4919076/outline-effect-to-text */
}

h1{
    font-size: 30px;
    font-family: pricedown;
    text-align: center;
    color: whitesmoke;
}

#about{
    text-align: center;
    width: 100%;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: whitesmoke;
}

a{
    text-align: center;
    font-family: pricedown;
    font-size: 35px;
}

a:link{
    color: purple;
}

a:visited{
    color: blue;
}

.collapsible { /*collapsible button script. reference:https://www.w3schools.com/howto/howto_js_collapsible.asp */
    background-color: purple;
    color: whitesmoke;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    text-align: left;
    outline: auto;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 32px;
}
  
.active, .collapsible:hover {
    background-color: rgb(90, 0, 90);
}
  
.content {
    text-align: center;
    padding: 0 5px;
    font-size: 18px;
    width: 98%;
    display: none;
    overflow: hidden;
}

.collapsible:after {
    content: '▼';
    font-size: 32px;
    color: white;
    float: right;
    margin-left: 5px;
}
  
.active:after {
    content: '▲';
}

table{
    background-color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.tableHead{
    color: white;
    background-color: purple;
    padding: 5px;
}

p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: white;
    outline: auto;
}

@keyframes player { /* player/ball animations. reference: https://www.w3schools.com/css/css3_animations.asp */
    from{
        right: 100%;
    }
    to{
        left: 10%;
    }
}

@keyframes ball {
    from{
        left: 100%;
    }
    to{
        right:10%;
    }
}

#player{
    width: 40%;
    position: relative;
    top: 3%;
    left: -50%;
    animation-name: player;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

#ball{
    width: 6%;
    position: relative;
    bottom: 15%;
    left: 10%;
    animation-name: ball;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.nightMode{
    position: relative;
    width:100%;
    color: black;
    background-color: gold;
    font-size: 24px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}